<figure>
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your message
  </figcaption>
</figure>
<figure>
  <blockquote class="blockquote">
    <p><%= @answer %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Coach's reply
  </figcaption>
</figure>

<div mt-5>
<%= link_to "Ask another question.", ask_path %>
</div>
