<form action="/answer" method="get" data-turbo="false">
  <label for="question" class="mb-3">Ask your coach something:</label>
  <div class="input-group w-50">
    <input type="text" id="question" name="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
